CONTAINER_NAME=goproxy

STABLE_PORT=7776
RANDOM_PORT=7777
WEBUI_PORT=7778
SOCKS5_RANDOM_PORT=7779
SOCKS5_STABLE_PORT=7780

BLOCKED_COUNTRIES=CN
ALLOWED_COUNTRIES=

PROXY_AUTH_ENABLED=false
PROXY_AUTH_USERNAME=proxy
PROXY_AUTH_PASSWORD=

WEBUI_PASSWORD=goproxy

CUSTOM_PROXY_MODE=mixed
SINGBOX_PATH=sing-box

TZ=Asia/Shanghai
